<div class="col-md-12 col-sm-8 main-content">
<div class="col-md-10 col-md-offset-2">
  <h3>View All Questions</h3>
</div>
<hr>

  <!--Main content code to be written here --> 
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">Category:</label>
        <select class="form-control form-control-lg" name="category" id="validationCustom03" onchange="ChangecatList()" required>
          <option value="">Choose... </option>
          <option value="Classroom Instruction and Assessment">Classroom Instruction and Assessment</option>
          <option value="Curriculum Development and Alignment">Curriculum Development and Alignment</option>
          <option value="District Committee">District Committee</option>
          <option value="Meeting">Meeting</option>
          <option value="Other Category">Other Category</option>
          <option value="Professional Conference">Professional Conference</option>
          <option value="Professional Workshop / Training">Professional Workshop / Training</option>
          <option value="Pupil Services">Pupil Services</option>
        </select>
    <div class="invalid-feedback">
      Please provide a category.
    </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationCustom04">Sub-catagory:</label>
       <select class="form-control form-control-lg" id="validationCustom04" name="activity" required></select>
      <div class="invalid-feedback">
      Please provide an activity.
    </div>
    </div>
  </div>
</div>